extends layout

block content
  a.btn.btn-warning(role='button' href='/logout') se déconnecter
  br
  section#Inputs
    .row
      .col-xs-5.col-xs-offset-1.form
        form(role='form', method='post')
          .input-group
            input.form-control(type='text', name='nom', placeholder='Nom')
            input.form-control(type='text', name='prenom', placeholder='Prénom')
            input.form-control(type='text', name='anniversaire', value='DD/MM/YYYY')
            input.form-control(type='text', name='mail', placeholder='Email', aria-describedby='basic-addon2')
            input.form-control(type='text', name='num', placeholder='Numéro de téléphone')
            input.form-control(type='text', name='place', placeholder='Ville')
            input.form-control(type='text', name='arrondissement', placeholder='Arrondissement (pour paris)')
            button.btn.btn-default(type='submit') Envoyer
    //- input(type='text', name='nom', placeholder='Nom')
    //- input(type='text', name='prenom', placeholder='Prénom')
    //- input(type='text', name='anniversaire', value='DD/MM/YYYY')
    //- input(type='text', name='mail', placeholder='Email')
    //- input(type='text', name='num', placeholder='Numéro De Téléphone')
    //- input(type='text', name='place', placeholder='Ville')
    //- input(type='text', name='arrondissement', placeholder='Arrondissement (pour paris)')
        
